apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "static-site.name" . }}
  annotations:
    nginx.org/rewrites: "serviceName={{ include "static-site.name" . }} rewrite=/"
spec:
  ingressClassName: nginx
  rules:
    - host: {{ .Values.route.host }}
      http:
        paths:
          - pathType: Prefix
            backend:
              service:
                name: {{ include "static-site.name" . }}
                port:
                  number: 80
            path: {{ .Values.route.path | default "/" }}
