apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "static-site.name" . }}
  annotations:
    nginx.ingress.kubernetes.io/force-ssl-redirect: "false"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    nginx.ingress.kubernetes.io/rewrite-target: /
    kubernetes.io/ingress.class: nginx
spec:
  ingressClassName: nginx
  rules:
    - host: {{ .Values.route.host }}
      http:
        paths:
          - pathType: Prefix
            backend:
              service:
                name: {{ include "static-site.name" . }}
                port:
                  number: 80
            path: {{ .Values.route.path | default "/" }}
