apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Release.Name }}
  annotations:
    nginx.org/rewrites: "serviceName={{ .Release.Name }} rewrite=/"
spec:
  ingressClassName: nginx
  rules:
    - host: {{ .Values.route.host }}
      http:
        paths:
          - pathType: Prefix
            backend:
              service:
                name: {{ .Release.Name }}
                port:
                  number: 80
            path: {{ .Values.route.path | default "/" }}
