dex:
  enabled: false
notifications:
  enabled: false

global:
  domain: argocd.dorilahav.com

configs:
  params:
    server.insecure: true
  cm:
    resource.customizations: |
      networking.k8s.io/Ingress:
        health.lua: |
          hs = {}
          hs.status = "Healthy"
          hs.message = "Probably just fine"
          return hs

server:
  ingress:
    enabled: true
    ingressClassName: "nginx"
    tls: false