apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Chart.Name }}-app
spec:
  ingressClassName: nginx
  rules:
    - host: {{ .Values.route.host }}
      http:
        paths:
          - pathType: Prefix
            backend:
              service:
                name: {{ .Chart.Name }}-app
                port:
                  number: 80
            path: {{ .Values.route.path | default "/" }}